files:
    "/etc/rsyslog.conf":
        mode: "000600"
        owner: root
        group: root
        content: "echo "$DefaultNetstreamDriverCAFile /etc/papertrail-bundle.pem
$ActionSendStreamDriver gtls
$ActionSendStreamDriverMode 1
$ActionSendStreamDriverAuthMode x509/name
$ActionSendStreamDriverPermittedPeer *.papertrailapp.com

*.*    @@logs3.papertrailapp.com:28701"
container_commands:
  01-download-root-certificates:
    # https://papertrailapp.com/systems/setup
    command: sudo wget -O /etc/papertrail-bundle.pem \
  https://papertrailapp.com/tools/papertrail-bundle.pem
 02-restart-rsyslog:
    command: sudo systemctl restart rsyslog

